<head>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=FJ5j3Sy5"></script>
</head>
<div>
    <div class="header-blue">
      <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container-fluid">
          <p class="tit">Examen Final</p>
          <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
<div>
    <h4 class="tit">Elija una fecha:</h4>
    <div class="button-container">
        <input class="universe-date-input" [(ngModel)]="this.date" type="date" max="{{currentDate | date:'yyyy-MM-dd'}}" >
    <button type="button" class="universe-button" (click)="this.enviar()">Aceptar</button>
      </div>
    
    
    <div class="header-blue">
    <p></p>
    <h5 class="tit">{{this.titulo}}</h5><div class="container">
        <div class="text-box">
            <p class="info">{{this.explanation}}</p>
            
        </div>
        <img class="img" src="{{this.image}}" alt="">
    </div>
    
</div>
</div>
