<div>
    <label>Elija un Personaje</label>
    <select name="" [(ngModel)]="this.nombre">
        <option value="Krusty el Payaso">Krusty el Payaso</option>
        <option value="Cletus">Cletus</option>
        <option value="Kirk Van Houten">Kirk Van Houten</option>
        <option value="Richard">Richard</option>
        <option value="Sarah Wiggum">Sarah Wiggum</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="this.enviarSimpson()">Aceptar</button>
    <img src="{{this.imagen}}" alt="">
    <br>
    <h5>{{this.nombre}}</h5>
    <br>
    <p>{{this.historia}}</p>
    <br>
    <p>{{this.genero}}</p>
    <br>
    <p>{{this.estado}}</p>
    <br>
    <p>{{this.ocupacion}}</p>
</div>